{{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
  {{ if .Site.Params.disqusShortname }}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = '{{ trim .Permalink "/" }}';
        };
        (function() {
          var d = document;
          var s = d.createElement('script');
          s.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
    </div>
  {{ end }}
{{ end }}