<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          {{ if .Site.Author.email }}
          <li>
            <a href="mailto:{{ .Site.Author.email }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.facebook }}
          <li>
            <a href="https://www.facebook.com/{{ .Site.Author.facebook }}" title="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.googleplus }}
          <li>
            <a href="https://www.plus.google.com/{{ .Site.Author.googleplus }}" title="Google+">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.github }}
          <li>
            <a href="https://github.com/{{ .Site.Author.github }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.twitter }}
          <li>
            <a href="https://twitter.com/{{ .Site.Author.twitter }}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.reddit }}
          <li>
            <a href="https://reddit.com/u/{{ .Site.Author.reddit }}" title="Reddit">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.linkedin }}
          <li>
            <a href="https://linkedin.com/in/{{ .Site.Author.linkedin }}" title="LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.xing }}
          <li>
            <a href="https://www.xing.com/profile/{{ .Site.Author.xing }}" title="Xing">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-xing fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.stackoverflow }}
          <li>
            <a href="https://stackoverflow.com/{{ .Site.Author.stackoverflow }}" title="StackOverflow">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.snapchat }}
          <li>
            <a href="https://www.snapchat.com/add/{{ .Site.Author.snapchat }}" title="Snapchat">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.instagram }}
          <li>
            <a href="https://www.instagram.com/{{ .Site.Author.instagram }}" title="Instagram">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.youtube }}
          <li>
            <a href="https://www.youtube.com/{{ .Site.Author.youtube }}" title="Youtube">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.soundcloud }}
          <li>
            <a href="https://soundcloud.com/{{ .Site.Author.soundcloud }}" title="SoundCloud">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.spotify }}
          <li>
            <a href="https://open.spotify.com/user/{{ .Site.Author.spotify }}" title="Spotify">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.bandcamp }}
          <li>
            <a href="https://{{ .Site.Author.bandcamp }}.bandcamp.com/" title="Bandcamp">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bandcamp fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Author.itchio }}
          <li>
            <a href="https://itch.io/profile/{{ .Site.Author.itchio }}" title="Itch.io">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ .Site.BaseURL}}/index.xml" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
        <p class="credits copyright text-muted">
          {{ if .Site.Author.name }}
            {{ .Site.Author.name }}
            &nbsp;&bull;&nbsp;
          {{ end }}

          {{ .Site.LastChange.Format "2006" }}

          {{ if .Site.Title }}
            &nbsp;&bull;&nbsp;
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
          {{ end }}
          <br>
          Contribute by submitting a PR to <a href="https://github.com/fhunleth/embedded-elixir">https://github.com/fhunleth/embedded-elixir</a>
        </p>
        <!-- Please don't remove this, keep my open source work credited :) -->
        <p class="credits theme-by text-muted">
        <a href="http://gohugo.io">Hugo v{{ .Hugo.Version }}</a> powered &nbsp;&bull;&nbsp; Theme by <a href="http://deanattali.com/beautiful-jekyll/">Beautiful Jekyll</a> adapted to <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a> &nbsp;&bull;&nbsp; Logo based on <a href="https://thenounproject.com/search/?q=chip&i=751689">Processor Chip</a>
          {{ with .Site.Params.commit }}&nbsp;&bull;&nbsp;[<a href="{{.}}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]{{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL }}/js/pswp-init.js"></script>
<script src="{{ .Site.BaseURL }}/js/main.js"></script>
<script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> renderMathInElement(document.body); </script>

{{ template "_internal/google_analytics.html" . }}
