version: 2
jobs:
  build:
    docker:
      - image: cimg/base:current
    working_directory: ~/project
    environment:
      HUGO_VERSION: 0.155.3
    steps:
      - checkout
      - run:
          name: Install Hugo Extended
          command: |
            wget -O /tmp/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb
            sudo dpkg -i /tmp/hugo.deb
      - run: ./_scripts/publish.sh
